{% load static %}

<div class="contact-w3ls ">
    <div class="contact-top-w3-agile">
    </div>
        <div class="container">
            <h2 class="heading-agileinfo white-w3ls">Contact Us<span class="black-w3ls">Welcome to our Emphasize. We are glad to have you around.</span></h2>
            <ul class="w3_address">
                <li><i class="fa fa-map-marker" aria-hidden="true"></i><span>15, Alh. Bashiru Adigun street, Bada-Ayobo, Lagos.</span></li>
                <li><i class="fa fa-volume-control-phone" aria-hidden="true"></i><span>08035903553<br>08098433296</span></li>
                <li><i class="fa fa-envelope-o" aria-hidden="true"></i><span><a href="mailto:walkwaycollege1@gmail.com">walkwaycollege1@gmail.com</a><br><a href="mailto:info@example.com"></a></span></li>
                <li><i class="fa fa-comments-o" aria-hidden="true"></i><span><a href="{% url 'contact' %}">Contact >></a></span></li>
            </ul>
                <div class="clearfix"></div>
            <div class="copy">
                    <ul class="banner-menu-w3layouts">
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'services' %}">Services</a></li>
                        <li><a href="{% url 'gallery' %}">Gallery</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                    <ul class="agileits_social_list">
                        <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                    </ul>
                    <p>© 2021 Walkway . All Rights Reserved | Design by <a href="http://w3layouts.com/">Oladele Umar</a> </p>
            </div>
        </div>
    </div>
    <!--//footer -->