{% extends 'base.html' %}

{% load static %}

{% block header %} {% include 'header.html' %}	{% endblock header %}
	
{% block content %}
<!-- about-agileits -->
<div class="about-agileits">
	<div class="container">	
	<h3 class="heading-agileinfo">About Us<span>Experience a good Education</span></h3>
		<div class="agileits_banner_bottom">
			<p>Masagni dolores eoquie int Basmodi temporant, ut laboreas dolore magnam aliquam kuytase uaeraquis autem vel eum iure reprehend.Unicmquam eius, Basmodi temurer sehsMunim.Masagni dolores eoquie int Basmodi temporant, ut laboreas dolore magnam aliquam kuytase uaeraquis autem vel eum iure reprehend.</p>
		</div>
		<div class="w3ls_banner_bottom_grids">
			<ul class="cbp-ig-grid">
				<li>
					<div class="w3_grid_effect">
						<span class="cbp-ig-icon w3_road"></span>
						<h4 class="cbp-ig-title">Who we are</h4>
						<span class="cbp-ig-category">Emphasize</span>
					</div>
				</li>
				<li>
					<div class="w3_grid_effect">
						<span class="cbp-ig-icon w3_cube"></span>
						<h4 class="cbp-ig-title">What we do</h4>
						<span class="cbp-ig-category">Emphasize</span>
					</div>
				</li>
				<li>
					<div class="w3_grid_effect">
						<span class="cbp-ig-icon w3_users"></span>
						<h4 class="cbp-ig-title">activities</h4>
						<span class="cbp-ig-category">Emphasize</span>
					</div>
				</li>
				<li>
					<div class="w3_grid_effect">
						<span class="cbp-ig-icon w3_ticket"></span>
						<h4 class="cbp-ig-title">Experience</h4>
						<span class="cbp-ig-category">Emphasize</span>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- about-agileits -->
<!-- Stats -->
<div class="stats-agileits" id="stats">
<div class="container">
	<h3 class="heading-agileinfo white-w3ls">We Have Something To Be Proud Of<span class="black-w3ls">Sed lectus tellus , feugiat porttitor nulla.</span></h3>
</div>
	<div class="stats-info agileits w3layouts">
	<div class="container">
		<div class="col-md-3 agileits w3layouts col-sm-6 stats-grid stats-grid-1">
			<div class="numscroller agileits-w3layouts" data-slno='1' data-min='0' data-max='2500' data-delay='3' data-increment="2">2500</div>
			<div class="stat-info-w3ls">
				<h4 class="agileits w3layouts">Foreign Followers</h4>
			</div>
		</div>
		<div class="col-md-3 col-sm-3 agileits w3layouts stats-grid stats-grid-2">
			<div class="numscroller agileits-w3layouts" data-slno='1' data-min='0' data-max='150' data-delay='3' data-increment="2">150</div>
			<div class="stat-info-w3ls">
				<h4 class="agileits w3layouts">Certified Teachers</h4>
			</div>
		</div>
		<div class="col-md-3 col-sm-3 stats-grid agileits w3layouts stats-grid-3">
			<div class="numscroller agileits-w3layouts" data-slno='1' data-min='0' data-max='3421' data-delay='3' data-increment="2">3421</div>
			<div class="stat-info-w3ls">
				<h4 class="agileits w3layouts">Students Enrolled</h4>
			</div>
		</div>
		<div class="col-md-3 col-sm-3 stats-grid stats-grid-4 agileits w3layouts">
			<div class="numscroller agileits-w3layouts" data-slno='1' data-min='0' data-max='210' data-delay='3' data-increment="2">210</div>
			<div class="stat-info-w3ls">
				<h4 class="agileits w3layouts">Complete Courses</h4>
			</div>
		</div>
		<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- //Stats -->
<!--Events --> 
	<div class="events-agileits-w3layouts">
	<h3 class="heading-agileinfo">Upcoming Events<span>Upcoming Education Events to feed your brain.</span></h3>
	
			<div class="popular-grids">
				<div class="col-md-3 popular-grid">
					<img src="{% static '' %}images/a1.jpg" class="img-responsive" alt=""/>
					<div class="popular-text">
						<h5><a href="#" data-toggle="modal" data-target="#myModal2">Emphasize Summer 2017</a></h5>
						<div class="detail-bottom">
							<ul>
								<li><i class="fa fa-calendar" aria-hidden="true"></i>30 May</li>
								<li><i class="fa fa-map-marker" aria-hidden="true"></i>LONDON, UK</li>
							</ul>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore sed do eiusmod tempor incididunt ut labore</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 popular-grid">
					<img src="{% static '' %}images/a2.jpg" class="img-responsive" alt=""/>
					<div class="popular-text">
						<h5><a href="#" data-toggle="modal" data-target="#myModal3">Summer online courses</a></h5>
						<div class="detail-bottom">
							<ul>
								<li><i class="fa fa-calendar" aria-hidden="true"></i>15 June</li>
								<li><i class="fa fa-map-marker" aria-hidden="true"></i>BERLIN, GERMANY</li>
							</ul>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore sed do eiusmod tempor incididunt ut labore</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 popular-grid">
					<img src="{% static '' %}images/a3.jpg" class="img-responsive" alt=""/>
					<div class="popular-text">
						<h5><a href="#" data-toggle="modal" data-target="#myModal4">Education tour 2017</a></h5>
						<div class="detail-bottom">
							<ul>
								<li><i class="fa fa-calendar" aria-hidden="true"></i>25June</li>
								<li><i class="fa fa-map-marker" aria-hidden="true"></i>VENICE, ITALY</li>
							</ul>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore sed do eiusmod tempor incididunt ut labore</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 popular-grid">
					<img src="{% static '' %}images/a4.jpg" class="img-responsive" alt=""/>
					<div class="popular-text">
						<h5><a href="#" data-toggle="modal" data-target="#myModal5">Good Results</a></h5>
						<div class="detail-bottom">
							<ul>
								<li><i class="fa fa-calendar" aria-hidden="true"></i>01 July</li>
								<li><i class="fa fa-map-marker" aria-hidden="true"></i>NEWYORK, USA</li>
							</ul>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore sed do eiusmod tempor incididunt ut labore</p>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
	</div>
<!-- //Events --> 
<!--testimonials-->
<div id="testimonials" class="testimonials">
<div class="container">
	<h3 class="heading-agileinfo">Our Parents Says<span>Sed lectus tellus , feugiat porttitor nulla.</span></h3>
	<div class="flex-slider">
		<ul id="flexiselDemo1">			
			<li>
				<div class="laptop">
					<div class="col-md-8 team-right">
						<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
							adipisci velit, sed quia non numquam.</p>
						<div class="name-w3ls">
							<h5>Federica</h5>
							<span>lorem ipsum</span>
						</div>
					</div>
					<div class="col-md-4 team-left">
						<img class="img-responsive" src="{% static '' %}images/test1.jpg" alt=" " />
					</div>
					<div class="clearfix"></div>
				</div>
			</li>
			<li>
				<div class="laptop">
					<div class="col-md-8 team-right">
						<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
							adipisci velit, sed quia non numquam.</p>
						<div class="name-w3ls">
							<h5>Thompson</h5>
							<span>lorem ipsum</span>
						</div>
					</div>
					<div class="col-md-4 team-left">
						<img class="img-responsive" src="{% static '' %}images/test2.jpg" alt=" " />
					</div>
					<div class="clearfix"></div>
				</div>
			</li>
		</ul>
		
	</div>

</div>
</div>
<!--//testimonials-->
{% endblock content %}
	
{% block footer %} {% include 'footer.html' %} {% endblock footer %}
	